@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Averia+Libre:700');

/* GERAL */
body, html{
    height: 100%;
    margin: 0;
}

*{
    box-sizing: border-box;
}

h1{
    font-family: 'Averia Libre', cursive;
    font-size: 2.7rem;
    margin: 0;
    margin-bottom: 0;
}

p{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
}

.img-rounded{
    border-radius: 50%;
    border: 1px solid black;
    margin: 2px;
}

.responsive{
    width: 35%;
    height: auto;
}
/* GERAL */

/* NAVEGACAO */
div.scrollmenu {
    background-color: #DCDCDC;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
}

div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: 'Cousine', monospace;
}

div.scrollmenu a:hover{
    background-color: #777;
}
/* NAVEGACAO */

/* HOME */
#home{
    background-image: url("../img/imgHome02.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* HOME */

/* FICHA */
#ficha{
    padding: 15px;
}

.img-ext{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
/* FICHA */

/* FOOTER */
footer{
    background-color: #DCDCDC;
    text-align: center;
    padding: 10px;
}

#imgli, #imgfb, #imgtw, #imggh{
    width: 2rem;
    border-radius: 1rem;
    margin-left: 3%;
    margin-right: 3%;
}
/* FOOTER */